<%= form_for @recipe do |f| %>
  <%= f.label :title, "Recipe name:" %>
  <%= f.text_field :title %><br/>

  <p><strong>INGREDIENTS</strong></p>
  <%= f.fields_for :ingredients do |ing| %>
    <%= ing.label :name, "Ingredient name:" %>
    <%= ing.text_field :name %>
    <%= ing.label :quantity, "Quantity:" %>
    <%= ing.text_field :quantity %><br/><br/>
  <% end %>
  <%= f.submit %>
<% end %>
